* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    margin: 10px 0 0;
}

.data {
    display: flex;
    align-items: center;
    font-size: 3rem;

    margin-left: 30px;
}

.data input {
    width: 25%;
    height: 50px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 2.5rem;
}

.data input:nth-child(1) {
    width: 60px;
}

.data input:nth-child(3) {
    width: 82px;
}

.data input::placeholder {
    font-size: 2.5rem;
    text-align: center;
    color: black;
}

.calendar-icon {
    border-left: 3px solid black;
    padding: 10px;
}

.calendar-icon img {
    width: 55px;
}

.month-year {
    border-right: 3px solid black;
    border-left: 3px solid black;
    font-size: 2.5rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

span.material-symbols-outlined {
    font-size: 4.5rem;
}

.table-days {
    font-size: 2.5rem;
    text-align: center;
    border: 3px solid black;
    border-top: none;
}

.name-days {
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);

    border-bottom: 3px solid black;
}

.days {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(7, 1fr);
}

.days p {
    padding: 10px;
    border: 1px solid gray;
}
