header {
    width: 80vw;
    min-height: 35vh;
    max-height: 50vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-evenly;
}

header div {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

header div p {
    font-weight: bold;
    font-size: 1.2rem;
}

header nav {
    width: 100%;
}

header nav ul {
    margin: 0 auto;
    max-width: 80%;
    padding: 0px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
    color: black;
}

.first-heading p {
    color: rgb(119, 119, 119);
}

@media (min-width: 519px) {
    header div p {
        font-size: clamp(1rem, 1.7vw, 3rem);
    }

    header {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    header div {
        flex-flow: row;
        align-items: center;
        min-width: 30%;
        max-width: 45%;
    }

    header nav {
        min-width: 20%;
        max-width: 45%;
    }

    .first-heading {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
}
