* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}

main section {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

section h2 {
    padding: 6px 0;
}

.projects ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.projects ul li {
    padding: 6px 0;
    width: 100vw;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #f0efef;
}

.projects ul li:first-child {
    border-top: 1px solid black;
}

.work-experience {
    max-width: 100vw;
}

.work-experience a {
    text-decoration: none;
}

.roadmap,
.opensource-work {
    background-color: #f0efef;
    width: 100vw;
    max-width: 100%;
    border-top: 1px solid black;
    padding: 5px 0;
}

.opensource-work {
    border-bottom: 1px solid black;
}

.roadmap h3,
.roadmap p,
.opensource-work h3,
.opensource-work p {
    padding: 5px 0;
    width: 80%;
}

.education {
    width: 100%;
}

.education p {
    width: 100%;
    text-align: start;
}

.education ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: start;
    width: 100%;
}

.education ul li:before {
    content: "- ";
}

.education h2,
.education p,
.education ul {
    padding: 5px 0;
}

.reviews div:nth-child(2),
.reviews div:nth-child(3) {
    display: none;
}

.reviews {
    border-top: 1px solid black;
    max-width: 100%;
}

.reviews .brief {
    border: 1px solid black;
    border-radius: 30px;
    height: fit-content;
    padding: 15px;
    margin: 5px 0;
    width: 80%;
}

.reviews p:nth-child(1) {
    padding-bottom: 8px;
}

.reviews p:nth-child(2),
.reviews p:nth-child(3) {
    color: rgb(165, 165, 165);
}

@media (min-width: 519px) {
}
